.DS_Store
**/.DS_Store
.cache

.idea
.code
.vscode
.run
.runs

.pytest_cache
__pycache__
*.egg-info
*.pyc

.env
.secret.yml

datasets
outputs
assets/
dist
build
debug

vuer_mujoco/tasks/assets/eval_envs/
